<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <title>Document</title> 
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <div class="header">
            <div class="image"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZVC8ZlSMlTmw51Aoz1i7vjqQ0CNRFdFwHpw&usqp=CAU" alt=""></div>
            <div class="heading">MySheets</div>
        </div>
        <div class="menu-container">
            <div class="file menu-active" id="file">File</div>
            <div class="home" id="home">Home</div>
        </div>

        <div class="menu-options-container">
            <div class="file-menu-options menu-options-active">
                <div class="new">New</div>
                <div class="open">Open</div>
                <div class="save">Save</div>
            </div>
            <div class="home-menu-options">
                <div class="cell-formatting">
                    <div class="cell-font-name">
                        <select name="font" id="cell-font">
                            <option value="none">None</option>
                            <option value="cursive">Cursive</option>
                            <option value="fantasy">Fantasy</option>
                            <option value="monospace">Monospace</option>
                            <option value="sans-serif">Sans-Serif</option>
                            <option value="system-ui">System-UI</option>
                        </select>
                    </div>
                    <div class="cell-text-style">
                        <div class="bold">
                            <input type="button" value="B">
                        </div>
                        <div class="underline">
                            <input type="button" value="U">
                        </div>
                        <div class="italic">
                            <input type="button" value="I">
                        </div>
                    </div>
                </div>
                <div class="cell-style">
                    <div class="cell-font-size">
                        <input type="range" name="font-size-slider" id="font-slider" min="10" max="40" value="16">
                    </div>
                    <div class="cell-color">
                        <input type="color" name="cell-background" id="cell-background">
                        <input type="color" name="cell-text" id="cell-text" value="#ff0000">
                    </div>
                </div>
                <div class="cell-alignment">
                    <div class="left">
                        <input type="button" value="L">
                    </div>
                    <div class="center">
                        <input type="button" value="C">
                    </div>
                    <div class="right">
                        <input type="button" value="R">
                    </div>
                </div>
            </div>
        </div>

        <div class="formula">
            Formula
            <input type="text" class="address" readonly>
            <input type="text" class="cell-formula">
        </div>

        <div class="content">
            <div class="top-left-cell"></div>
            <div class="top-row">
                <%for(let j = 0 ; j < 26; j++) {%>
                    <div class="top-row-cell" > <%=String.fromCharCode(65+j)%></div>  
                <%}%>
            </div>
            <div class="left-col">
                <%for(let i = 0; i < 100; i++) {%>  
                    <div class="left-col-cell" c-id=<%=i%>> <%=i+1%></div>  
                <%}%>
            </div>
            <div class="cells">
                <%for(let i = 0; i < 100; i++) {%>  
                    <div class="row">
                        <%for(let j = 0 ; j < 26; j++) {%>
                            <div class="cell" contenteditable="true" r-id=<%=i%> c-id=<%=j%>></div>  
                        <%}%>
                    </div>
                <%}%>    
            </div>
        </div>

        <div class="sheets">
            <div class="sheets-list">
                <div class="sheet active-sheet" sid="0">Sheet 0</div>
            </div>
            <div class="add-sheet"><i class="fas fa-plus-circle"></i></div>
        </div>

        <script src="./script.js"></script>
        
    </body>
</html>